<!DOCTYPE html>
<html>
<head>
  <title>Waterline Spike</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css">
  <link rel="stylesheet" href="demo.css">
  <script src="/jquery/jquery-1.9.1.js"></script>
  <!--<script src="/jquery/jquery-ui.js"></script>-->
  <script src="/jquery/jquery.jeditable.js"></script>
  <script src="/underscore.js" defer></script>
  <script src="/bootstrap/js/bootstrap.min.js" defer></script>
  <script src="/socket.io/socket.io.js" defer></script>
</head>
<body>
  {{{body}}}
</body>
</html>
