<style>
#diagramContainer {
  padding: 20px;
  width:80%; height: 400px;
  border: 1px solid gray;
}

.item {
  position: absolute;
  height:80px; width: 80px;
  border: 1px solid blue;
}
</style>

Hello Demo!
<div id="diagramContainer">
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
<script src="//code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jsPlumb/1.4.1/jquery.jsPlumb-1.4.1-all.js"></script>
<script src="/demo.js"></script>
