<style>
#diagramContainer {
  padding: 20px;
  width:100%; height: 600px;
  border: 1px solid gray;
  position: relative;
  z-index: 0;
}

.node {
  position: absolute;
  border: 1px solid blue;
  border-radius: 50%;
  z-index: 200;
  background-color: white;
}

._jsPlumb_connector {
  z-index: 100;
}

._jsPlumb_endpoint {
  z-index: 300;
  opacity: 0.1;
}

</style>

<div id="diagramContainer">
</div>
<script src="/jquery/jquery-1.9.1.js"></script>
<script src="/dom.jsPlumb-1.7.2.js"></script>
<script src="/Bacon.js"></script>
<script src="/demo.js"></script>
