<style>
#diagramContainer {
  padding: 20px;
  width:100%; height: 600px;
  border: 1px solid gray;
  position: relative;
}

.node {
  position: absolute;
  height:100px; width: 100px;
  border: 1px solid blue;
  border-radius: 50%;
}
</style>

Hello Demo!
<div id="diagramContainer">
</div>
<script src="/jquery/jquery-1.9.1.js"></script>
<script src="/dom.jsPlumb-1.7.2.js"></script>
<script src="/Bacon.js"></script>
<script src="/demo.js"></script>
