#diagramContainer {
  padding: 20px;
  width:10px; height: 10px;
  border: 1px solid gray;
  position: relative;
  z-index: 0;
}

.node {
  position: absolute;
  border: 1px solid blue;
  border-radius: 50%;
  z-index: 200;
  background-color: white;
}

.label {
  border: 1px solid blue;
  z-index: 9999;
  position: relative;
  background-color: white;
  color: black;
}

.hidden {
  opacity: 0;
}

._jsPlumb_connector {
  z-index: 100;
}

._jsPlumb_endpoint {
  z-index: 300;
  opacity: 0.1;
}
